body {
    background-color: darkseagreen;
    color: rgb(199, 228, 228);
    font-family: "Trebuchet MS", "Comic Sans MS", cursive;
    margin: 0;
}

header {
    font-size: 60px;
    border-bottom: double 5px rgb(193, 235, 224);
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-botton: double 7px rgba(35, 104, 95, 0.616);
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

iframe, video {
    diplay: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700%;
}
